---
http_interactions:
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/restserver/v1/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"<COBRAND_LOGIN>","cobrandPassword":"<COBRAND_PASSWORD>","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - N1526393044720c4x26h000000NLPYw
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cobrandId" : 10010352,
          "applicationId" : "3A4CAE9B71A1CCD7FF41F51006E9ED00",
          "locale" : "en_US",
          "session" : {
            "cobSession" : "08062013_0:da1471c04b40941d2c9e8c55712ee2639ca708cc6177e426f3e408655a6411aaeb71889d10f16ce91547214620e8741b471a13cc3b6af35a323fb401a1158a63"
          }
        }
  recorded_at: Tue, 15 May 2018 14:04:04 GMT
recorded_with: VCR 3.0.3
