---
http_interactions:
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/restserver/v1/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"<COBRAND_LOGIN>","cobrandPassword":"<COBRAND_PASSWORD>","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - J1524383057720D4Z27O000000NLeYj
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cobrandId" : 10010352,
          "applicationId" : "3A4CAE9B71A1CCD7FF41F51006E9ED00",
          "locale" : "en_US",
          "session" : {
            "cobSession" : "08062013_2:08f4024993365b977b6685903afb2f586ea70761b352f6a39060a3c9cb6c3c85fb7880304a4847a0f5d978efe03650ff6fb96782a271a4bb14a524fafc4e4ed1"
          }
        }
  recorded_at: Sun, 22 Apr 2018 07:44:17 GMT
recorded_with: VCR 3.0.3
