---
http_interactions:
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/v1/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"<COBRAND_LOGIN>","cobrandPassword":"<COBRAND_PASSWORD>","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ''
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode" : "Y807",
          "errorMessage" : "Resource not found"
        }
  recorded_at: Thu, 14 Jun 2018 00:01:26 GMT
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/restserver/v1/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"<COBRAND_LOGIN>","cobrandPassword":"<COBRAND_PASSWORD>","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - N1529026229323a4s27K000000NLnYu
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cobrandId" : 10010352,
          "applicationId" : "3A4CAE9B71A1CCD7FF41F51006E9ED00",
          "locale" : "en_US",
          "session" : {
            "cobSession" : "08062013_1:6bb625e1b05c8c9ab719c3933ba5f13c8f4d981768480cebf57916cdf935e664beedaa703b7f0c9103b154f0d0a03764c5071b5fd2265bc6ed069f7cf5d17d8a"
          }
        }
  recorded_at: Fri, 15 Jun 2018 01:30:29 GMT
recorded_with: VCR 3.0.3
