---
http_interactions:
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/restserver/v1/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"<COBRAND_LOGIN>","cobrandPassword":"<COBRAND_PASSWORD>","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - n1528419216263K4u27B000000NLlYi
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cobrandId" : 10010352,
          "applicationId" : "3A4CAE9B71A1CCD7FF41F51006E9ED00",
          "locale" : "en_US",
          "session" : {
            "cobSession" : "08062013_0:ea4681343c3da2e3880acb6c48b64105711a15ffaf5087b4d1e2e82734ba202059aa2187e5e0825fc93e475b414b97aea2a7e0228ea756da2b6f7938ac107584"
          }
        }
  recorded_at: Fri, 08 Jun 2018 00:53:36 GMT
recorded_with: VCR 3.0.3
