---
http_interactions:
- request:
    method: post
    uri: https://developer.api.yodlee.com/ysl/restserver/v1/cobrand/login
    body:
      encoding: UTF-8
      string: '{"cobrand":{"cobrandLogin":"<COBRAND_LOGIN>","cobrandPassword":"<COBRAND_PASSWORD>","locale":"en_US"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - P1522686893737q4r26U000000NLPYn
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cobrandId" : 10010352,
          "applicationId" : "3A4CAE9B71A1CCD7FF41F51006E9ED00",
          "locale" : "en_US",
          "session" : {
            "cobSession" : "08062013_2:fb7e1df8e07c343113dbedca0a8449b7f1e71d309fd9962c661d0afd1cffdf276dbe71868c707e7a685e65a4f12c75711e0d8f2cbd3041c0b09520302238fe6b"
          }
        }
  recorded_at: Mon, 02 Apr 2018 16:34:55 GMT
recorded_with: VCR 3.0.3
